.card-container {
  position: relative;
  transform: scale(1);
  border: 1px solid black;
  margin: 3px 5px;
  width: 130px;
  height: 130px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  .card-image {
    width: 60%;
    height: 60%;
  }
}
